*{
    box-sizing: border-box;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* 讓背景填滿整個畫面 */
    animation: gradientAnimation 10s infinite;
    /* 使用名為 gradientAnimation 的動畫，持續 10 秒，無限循環 */
    background: linear-gradient(to right, #ff5733, #ffbd69, #ffeea8);
    /* 初始漸層背景 */
    background-size: 200% auto;
    /* 設定漸層大小為原來的兩倍寬 */
}



@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}
.calendar{
    width: 550px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.nav{
    width: 500px;
    height: 60px;
    background-color: #432e9e;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}
.main {
    background-color: lightblue;
    width: 500px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.date {
    border: 1px double black;
    width: 70px;
    height: 55px;
    margin: auto;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    justify-content: center;
    /* margin: auto; */
}

.week {
    border: 1px double black;
    width: 70px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* text-align: center; */

}

h1 {
    color: #ffbd69;
}